* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-image: linear-gradient(rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),url(https://drive.google.com/uc?export=view&id=1EIRwdeLQQfljV8sSzIfXZSxKDPLqT6D-);
    /*background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%), url(https://drive.google.com/uc?export=view&id=1EIRwdeLQQfljV8sSzIfXZSxKDPLqT6D-);*/
    background-attachment:fixed;
    background-size: 100% 100%;
}

.main-section {
    display: flex;
    height: 100vh;
    width: 100%;
    border: 2px solid blue;
    flex-direction: column;
    align-items: center;
}

.main-info {
    display: flex;
    height: 8rem;
    width: 100%;
    border: 2px solid rgb(21, 172, 147);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 3rem;
    color: white;
    text-align: center;
}

#description {
    font-size: 1.6rem;
    color: white;
    margin-top: 0.7rem;
    text-align: center;
}

.form-section {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 35%, rgb(2, 27, 33) 100%);
    width: 90%;
    margin-top: 2.5rem;
    border: 2px solid lightpink;
}

.form-group {
    margin: 5rem;
    border: 1px solid green;
}