* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Exo 2', sans-serif;
    background: linear-gradient(rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://drive.google.com/uc?export=view&id=1EIRwdeLQQfljV8sSzIfXZSxKDPLqT6D-);
    background-attachment:fixed;
    background-size: 100% 100%;
    color: white;
    font-size: 2rem;
}

.main-section {
    display: flex;
    height: 100%;
    width: 100%;
    /* border: 2px solid blue; */
    flex-direction: column;
    align-items: center;
}

.main-info {
    display: flex;
    height: 8rem;
    width: 100%;
    /* border: 2px solid rgb(21, 172, 147); */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

#description {
    margin-top: 0.7rem;
    text-align: center;
}

.form-container {
    height: auto;
    /* border: 1px solid red; */
}

.form-section {
    display: flex;
    justify-content: center;
    background: rgba(27, 27, 50,.8);
    margin-top: 2.5rem;
    /* border: 1px solid lightpink; */
    border-radius: 0.7rem;
}

.form-group {
    display: flex;
    display: block;
    margin: 4rem 0 4rem 0;
    /* border: 1px solid rgb(200, 252, 13); */
    height: auto;
}

#survey-form {
    width: 80%;
    /* border: 1px solid rgb(255, 8, 193); */
}
#name-label {
    display: block;
    margin-bottom: 1rem;
}

#email-label {
    margin-bottom: 1rem;
    display: block;
}

#number-label {
    margin-bottom: 1rem;
    display: block;
}

#label-role {
    margin-bottom: 1rem;
    display: block;
}

option::placeholder {
    font-size: 1.5rem;
}

.radio-paragraph {
    margin-bottom: 1rem;
}

#feature-paragraph {
    margin-bottom: 1rem;
}

.checkbox-paragraph {
    margin-bottom: 1rem;
}
.textarea-label {
    margin-bottom: 1rem;

}

.input-css {
    padding: 0.7rem;
    border-radius: 0.7rem;
    width: 100%;
}

.input-css::placeholder {
    font-size: 1.5rem;
}

.form-css label {
    display: flex;
    margin-bottom: 1.25rem;
}

.form-css input {
    margin-right: 0.5rem;
    min-height: 2.5rem;
    min-width: 2rem;
}

#dropdown {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.692);

}

#page-feature {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.692);
}

.input-radio {
    display: inline-block;
}

.textarea-label {
    display: block;
}

.textarea-comments {
    width: 100%;
    min-height: 10rem;
    resize: vertical;
}

.textarea-comments::placeholder{
    font-size: 1.5rem;
    padding: 1rem;
}

.submit-button {
    width: 100%;
    height: 5rem;
    background-color: #37af65;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
}

.submit-button:hover {
    background-color: #1e723e;
}

@media screen and (min-width:768px) {
    .form-container {
        width: 73rem;
        min-width: 70rem;
    }
}

@media screen and (max-width: 480px) {
    .form-section {
        width: 100%;
    }

    .form-group {
        margin: 4rem 0 4rem 0;
    }

    #survey-form {
        width: 95%;
    }
}
